# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Escape Characters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) Booleans <br>
5) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) truth tree <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) and/or <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) elif <br>
 &nbsp;&nbsp;&nbsp;&nbsp; 3) else <br>
6) <b>In-Class Exercise #2</b> <br>
7) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
8) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
9) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
10) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>

In [ ]:
print("Hello World!!!")

# Int & Float Assignments

##### Assigning int

In [ ]:
# variable_name = value
# Python Standard Naming Convention - all lowercase - snake case - snake_case

In [2]:
my_number = 5

print(my_number)
print(type(my_number))

5
<class 'int'>

##### Assinging float

In [3]:
my_float_number = 5.67

print(my_float_number)
print(type(my_float_number))

5.67
<class 'float'>

In [ ]:
# The decimal (.) that is doing the heavy lifting - tells Python that is a float

#### Performing Calculations on ints and floats

##### Addition

In [14]:
# use the plus operator (+) 

num1 = 43
num2 = 21

# int + int -> int
# int + float -> float
# float + float -> float 

result = num1 + num2
print(result)
print(type(result))

64
<class 'int'>

In [7]:
print(result)

result+= 15 # result = result + 15

print(result)

64.2
79.2

In [8]:
x = 10

x += 5 # x - x + 5

print(x)

15

##### Subtraction

In [11]:
# Use the minus operator (-)

difference = num1 - num2

print(difference)
print(type(difference))

# assignment operator (-=)

difference -= 5 # difference = difference - 5

print(difference)

22.200000000000003
<class 'float'>
17.200000000000003

##### Multiplication

In [13]:
# use the asterisk or star (*)

product = 12 * 7

print(product)
print(type(product))

# Assignment Operator(*=)

product *= 2 #product = product * 2

print(product)

84
<class 'int'>
168

##### Division

In [16]:
# Use the forward slash (/) 

# ALWAYS RESULTS IN A FLOAT 

num3 = 50
num4 = 5

quotient = num3 / num4

print(quotient)
print(type(quotient))

# Assignment Operator (/=)

quotient /= 4 # quotient = quotient / 4

print(quotient)

10.0
<class 'float'>
2.5

##### Floor Division

In [20]:
# Soemtimes also referred to as integer division 

# This will return the 'floor'. Floor is defined as the highest integer that is less than or equal to the value. Essentially cuts the decimal out

result_normal = 15 / 4
print(result_normal)

# Use the double slash (//)
result_floor = 15 // 4
print(result_floor)

# Assignment Operator (//=)

result_floor //= 2 #result_floor (what it currently is) = result_floor // 2
print(result_floor)

3.75
3
1

##### Modulo

In [23]:
# Use the percent operator (%) 

# will return the remainder of a division problem 

num5 = 48
num6 = 5

result_mod = num5 % num6
print(result_mod)   # 5 goes into 45 9 times, with a remainder of 3

# Assignment Operator (%=)

result_mod %= 2
print(result_mod)

3
1

In [26]:
# determine if a nubmer is even or odd 

# if a number is even, 2 goes into the number evenly with a remainder of 0 
# if a nubmer is odd, 2 goes into the number with a remainder of 1 

some_number = 55
print(some_number % 2)

1

##### Exponential

In [29]:
# Use the double-asterisk (**)

square = 5 ** 2
print(square)

# Assignment Operator (**=)
square **= 3
print(square)

25
15625

### String Input-Output

##### String Assignment

In [30]:
first_name = 'Brian'

print(first_name)
print(type(first_name))

Brian
<class 'str'>

In [31]:
last_name = "Stanton"

print(last_name)
print(type(last_name))

Stanton
<class 'str'>

In [32]:
# Quoatation Marks are necessary 

wrong = astring 

# this will give us a NameError. Python thinks we're setting a variable named Wrong that is equal to the value for 'astring'

NameError: name 'astring' is not defined

In [34]:
me = first_name

print(me)

Brian

##### Escape Characters

In [36]:
contraction1 = "You can't do that"
print(contraction1)

You can't do that

In [37]:
contraction2 = 'You can't do that'

print(contraction2)

SyntaxError: unterminated string literal (detected at line 1) (2369211800.py, line 1)

In [40]:
# backslash before quotation - read it literally
contraction3 = 'You can\'t do that'
print(contraction3)

You can't do that

In [41]:
quote1 = 'He said, "How are you?"'
print(quote1)

He said, "How are you?"

In [42]:
quote2 = "He said, \"How are you?\""
print(quote2)

He said, "How are you?"

In [46]:
# Backlash allows us to write the string on multiple lines and still be read as one line
long_string = 'Hello how are you\
 doing today?'

print(long_string)

Hello how are you doing today?

In [47]:
# \n - new line character

multi_line = "Hello\nHow are you?"
print(multi_line)

Hello
How are you?

In [49]:
# \t - tab character
tab_line = "Hello\tWorld"
print(tab_line)

Hello	World

In [50]:
letter = "Dear Friend,\n\tI hope you are doing well."
print(letter)

Dear Friend,
	I hope you are doing well.

#### Triple Quoted String

In [52]:
# string that starts and ends with 3 quotations (single or double)
# Read line spacing literally

triple='''This is the first line
    This is the second line
And this is the final line'''

print(triple)

This is the first line
    This is the second line
And this is the final line

In [55]:
triple_again = """This is
another example
of a triple quoted string"""

print(triple_again)
print(type(triple_again))

This is
another example
of a triple quoted string
<class 'str'>

In [57]:
# Raw String - start with r before the quotation marks (r'') or (r"")
# Read string literally - special characters are not special

raw_letter = r"Dear Friend,\n\tI hope you are doing well."
print(raw_letter)

Dear Friend,\n\tI hope you are doing well.

In [ ]:
my_emaple = r'Brian

In [59]:
string_number = '123'

print(string_number)
print(type(string_number))

123
<class 'str'>

##### String Concatenation

In [65]:
first = 'John'
last = 'Smith'

# Plus operator (+) between two string -> return a NEW string with the two strings combined

full = first + last
print(full)

# += works for strings too!

full += ', Jr.' #full = full (currently) + ', Jr.'
print(full)

JohnSmith
JohnSmith, Jr.

In [66]:
num_a = 10 # integer
num_b = '10' # string

num_c = num_a + num_b
print(num_c)   # this would give a type error

TypeError: unsupported operand type(s) for +: 'int' and 'str'

##### Type Conversion

In [68]:
print(num_a, type(num_a))
print(num_b, type(num_b))

10 <class 'int'>
10 <class 'str'>

In [69]:
# to convert, pass the value into the built-in type function (usually the name of the class) -> will return a new object
# str for string, int for integers, float for floats, etc.

num_a_as_int = int(num_a)
print(num_a_as_int)
print(type(num_a_as_int))

# Creates a new variable, the original does not change

10
<class 'int'>

In [71]:
num_c = num_a + int(num_b)
print(num_c)

20

In [73]:
pi = '3.14'

f_pi = float(pi)
print(f_pi)
print(type(f_pi))

3.14
<class 'float'>

In [74]:
print(num_a, type(num_a))

num_a_as_str = str(num_a)

print(num_a_as_str, type(num_a_as_str))

10 <class 'int'>
10 <class 'str'>

##### .format() and f-strings

In [77]:
help(str.format)

Help on method_descriptor:

format(...)
    S.format(*args, **kwargs) -> str

    Return a formatted version of S, using substitutions from args and kwargs.
    The substitutions are identified by braces ('{' and '}').

In [78]:
first_name = 'Tom'
last_name = 'Brady'
city = 'San Francisco'
age = 47

intro_text ="Hello, my name is {} {} and I am {} years olf and I am from {}".format(first_name, last_name, age, city)

print(intro_text)

Hello, my name is Tom Brady and I am 47 years olf and I am from San Francisco

In [81]:
# f-string - another way of formatting a string -> uses curly braces with a variable name in them
# and a lowercase f before the string (f'') or (f"")

intro_text2 = f"Hello, my name is {first_name} {last_name} and I am {age} years old and I am from {city}."

print(intro_text2)

Hello, my name is Tom Brady and I am 47 years old and I am from San Francisco.

In [83]:
# .format and f-string allows us to run expression for format our string

add_age1 = f'Hello, I am {first_name.upper()} and in 5 years I will be {age + 5}'
print(add_age1)



add_age2 = "Hello I am {} and in 5 years I will be {}".format(first_name.upper(), age + 5)
print(add_age2)

Hello, I am TOM and in 5 years I will be 52
Hello I am TOM and in 5 years I will be 52

##### Old Way (python 2)

In [84]:
print("Hello my name is %s and I am from %s" % (first_name, city))

Hello my name is Tom and I am from San Francisco

In [86]:
result = 10 + 5 

print("The result is %i", % result)

SyntaxError: invalid syntax (1652413575.py, line 3)

# In-Class Exercise 1 <br>
<p>Increase the year by 1 and then print out the following statement using type conversion and a formatted string</p>

In [87]:
#OUTPUT:  I drive a blue 2023 Ford Focus.
color = 'blue'
make = 'Ford'
year = '2022'
model = 'Focus'

# year conv to int
# year fx + 1
# format str for color, year, make, model 

yearconv = int(year)
yearfinal = yearconv + 1
result = f"I drive a {color} {yearfinal} {make} {model}."
print(result)

I drive a blue 2023 Ford Focus.

### Booleans

In [88]:
bool_true = True
print(bool_true)
print(type(bool_true))

True
<class 'bool'>

In [89]:
bool_false = False
print(bool_false)
print(type(bool_false))

False
<class 'bool'>

### If Statements

In [90]:
# if <expression>:   <expression> must result in a boolean (True or False) or object with (Truthy/Falsy) value
#     <statement>

# INDENTATION MATTERS!!!!!!
# All lines that are indented under the if statement will only run if the expression is True

if True:
    print('Hello this is a statement that is being run because the if evaluated to True')

Hello this is a statement that is being run because the if evaluated to True

In [91]:
if False:
    print('Hello this is a statement that is being run because the if evaluated to True')

In [94]:
print('Start code...')

if False:
    print('Hello')
print('How are you?')
    
print('End code...')

Start code...
How are you?
End code...

In [103]:
# Available operators: Greater(>), Less(<), Equal(==)
# Greater or Equal(>=), Less or Equal (<=), Not Equal (!=)
# Return value is a Boolean (True or False)

num1 = 10
num2 = 5
num3 = 2

print(num1 > num2)
print(num3 < num3)
print(num1 == num2 * num3)
print(num1 >= num2 * num3)
print(num1 < num2 * num3)
print(num1 != num2)
print(num1 != num2 * num3)

True
False
True
True
False
True
False

In [108]:
if num1 > num2:# True
    print(f"{num1} is greater than {num2}")
    
    
if num2 < num3: # False
    print(f"{num2} is less than {num2}")
    
if num1 >= num2 * num3:
    print(f"{num1} is greater than or equal to {num2} times {num3}")

10 is greater than 5
10 is greater than or equal to 5 times 2

## Using 'and'/'or' with If Statements

In [111]:
# Truth Tree for OR: (ONLY ONE NEEDS TO BE TRUE FOR THE ENTIRE THING TO BE TRUE)
# T or T = T
# T or F = T
# F or T = T
# F or F = F

# To pass through to the next round, a students needs at least a 2.5 GPA or at least a 25 ACT


potential_candidate_gpa = 2.0
potential_candidate_act = 20

# Logic for passing a student
if potential_candidate_gpa >= 2.5 or potential_candidate_act >= 25:
    print('Student meets requirements. Move on to next round')
else:
    print('Reject student...')

Reject student...

In [115]:
# Truth Tree for AND: (BOTH/ALL NEED TO BE TRUE)
# T and T = T
# T and F = F
# F and T = F
# F and F = F

# To pass through to the next round, a students needs at least a 2.5 GPA AND at least a 25 ACT

potential_candidate_gpa = 2.49999
potential_candidate_act = 30

# Logic for passing a student
if potential_candidate_gpa >= 2.5 and potential_candidate_act >= 25:
    print('Student meets requirements. Move on to next round')
else:
    print('Reject student...')

Reject student...

In [117]:
# with OR/AND, you must put full experession everytime 

number = 5

if number == 1 or 7:
    print('The number is 1 or 7')
else:
    print(f'Not 1 or 7, the number is {number}')
    
    #this is incorrect because full exp isn't written out

The numer is 1 or 7

In [118]:
number = 5

if number == 1 or number == 7:
    print('The number is 1 or 7')
else:
    print(f'Not 1 or 7, the number is {number}')

Not 1 or 7, the number is 5

### Else Statements

In [122]:
# An else statement runs when the if statement *DIRECLTY* above it evaluates to False

age = 22

if age >= 35:
    print('You are eligible to run for president')

if age >= 18:
    print('You are eligible to vote')
else: 
    print('You are still too young to vote')

You are eligible to vote

### Elif Statements

In [126]:
# An elif only runs when the if (or elif) directly above it evaluates to False

# Pretend we are checking tickets at the movie theater for an R-Rated movie
# If the movie goer is above 18, just say thanks and enjoy the show
# if the movie goer is above 14, check if they have a parent with them, can see if so
# no movie goers under 14 or under 18 without parent


# rules for entry
required_age = 18
with_parent_age = 14

#customer_info
customer_age = 12
has_parent = False

if customer_age >= required_age:
    print('Thanks and enjoy the show!')
elif customer_age >= with_parent_age and has_parent:
    print('Cool, enjoy the movie with the folks')
elif customer_age >= with_parent_age and not has_parent:
    print('You are old enough to see this with a parent, but I do not see one here')
else: 
    print('You cannot see this film until you are older')

You cannot see this film until you are older

In [130]:
age = 80

if age < 18:
    drink_choice = 'toddy'
elif age < 21:
    drink_choice = 'coke'
elif age < 50:
    drink_choice = 'beer'
else:
    drink_choice = 'whiskey'
    
print(f"Drink {drink_choice}")

Drink whiskey

### In-Class Exercise 2 <br>
<p>Write a program that will check a person's age and adjust the ticket price. Regular ticket price is $10. Seniors (65+) get 25 percent off and children (ages 0-9) are half off. Print out the ticket price at the end</p>

In [145]:

 ticket = 10
# person_age = 72 # Output: Your ticket is $7.50
#  person_age = 47 # Output: Your ticket is $10
# person_age = 8 # Output: Your ticket is $5.00


if person_age >= 65:
    ticket_price = 7.50
    print(f"Your ticket is ${ticket_price:.2f}")
elif person_age <= 9:
    ticket_price = 5.00
    print(f"Your ticket is ${ticket_price:.2f}")
else:
    print(f"Your ticket is ${ticket:.2f}")

Your ticket is $5.00

### Lists

##### Declaring Lists

In [ ]:
# Ordered collection of data; indexable; mutable; iterable; elements of the list can be of any data type
 # Empty list declation

In [146]:
list1 = []

print(list1)
print(type(list1))

[]
<class 'list'>

In [147]:
names = ['Dan', 'Catherine', 'William', 'Laura', 'Hannah', 'Jack', 'Frank']

print(names)
print(type(names))

['Dan', 'Catherine', 'William', 'Laura', 'Hannah', 'Jack', 'Frank']
<class 'list'>

##### Indexing a List

In [165]:
# list_var[start: stop: step] - start is INclusive, stop is EXclusive (whether its part or not part of your slice)
# 0-based index (indices will always start at 0 -> length of list - 1) (if list of 10, your indises are 0-9)
# Makes a copy, original list is unaffected

# single element from a list - list_variable[index] (index value, should be an integer)

print(names[0])
print(names[1])
print(names[6])
print(names[-6])


# Slicing a list -> grabbing part of the list - list_variable[index, index]

# Slice from Catherine (the 2nd element to the end) -> leave the stop empty and this will default to end of list

print(names[1:])

# Slice the list frrom the 2nd element to the 5th element (start at index 1 and go up to but not including index 5)

print(names[1:5])

# Slice from the beginning of the list up to a given point

print(names[:4])

# slice the whole list - an easy way to make a copy of the list
print(names[:])

# slice every other element in the list
print(names[::2])

# negative steps will go backwards through a list - easy way to make a reversed copy of the list
print(names[::-1])

# Combo Time!

print(names[1:6:2]) #names from 1 through 6, but every 2

Dan
Catherine
Frank
Catherine
['Catherine', 'William', 'Laura', 'Hannah', 'Jack', 'Frank']
['Catherine', 'William', 'Laura', 'Hannah']
['Dan', 'Catherine', 'William', 'Laura']
['Dan', 'Catherine', 'William', 'Laura', 'Hannah', 'Jack', 'Frank']
['Dan', 'William', 'Hannah', 'Frank']
['Frank', 'Jack', 'Hannah', 'Laura', 'William', 'Catherine', 'Dan']
['Catherine', 'Laura', 'Jack']

In [170]:
# List are mutable - means you can change the values using item assignment
# item assignment - list_var[index] = value


print(names)

names[2] = 'Billy'

print(names)

['Dan', 'Catherine', 'William', 'Laura', 'Hannah', 'Jack', 'Frank']
['Dan', 'Catherine', 'Billy', 'Laura', 'Hannah', 'Jack', 'Frank']

In [172]:
# Strings are IMMUTABLE - can NOT be changed through item assignment
# But they are indexable

my_string = "Hello World"

print(my_string[0:6])

my_string[0] = 'J'

Hello

TypeError: 'str' object does not support item assignment

##### .append()

In [174]:
# list_var.append(value) -> Add the value to the end of the list

print(names)

names.append('Sarah')
print(names)

['Dan', 'Catherine', 'Billy', 'Laura', 'Hannah', 'Jack', 'Frank']
['Dan', 'Catherine', 'Billy', 'Laura', 'Hannah', 'Jack', 'Frank', 'Sarah']

##### .insert()

In [182]:
# list_var.insert(index,value) -> Add the value at index and shift everything after to the right 1 index

print(names)

names.insert(2, 'Julian')

print(names)

['Dan', 'Catherine', 'Lexie', 'Lexie', 'Lexie', 'Billy', 'Laura', 'Hannah', 'Jack', 'Frank', 'Sarah']
['Dan', 'Catherine', 'Julian', 'Lexie', 'Lexie', 'Lexie', 'Billy', 'Laura', 'Hannah', 'Jack', 'Frank', 'Sarah']

##### .pop()

In [186]:
# list_var.pop() -> If no argument, pop removes and returns the last element of the list

print(names)

last_element = names.pop()

print(names)
print(f"The last element that was removed: {last_element}")

['Dan', 'Catherine', 'Julian', 'Lexie', 'Lexie', 'Lexie', 'Billy', 'Laura', 'Hannah', 'Jack']
['Dan', 'Catherine', 'Julian', 'Lexie', 'Lexie', 'Lexie', 'Billy', 'Laura', 'Hannah']
The last element that was removed: Jack

In [190]:
# list_var.pop(index) -> will remove the element at index and return that item

second_element = names.pop(1)

print(names)

print(f"The second element: {second_element}")

names.pop(2)

print(names)

['Dan', 'Billy', 'Laura', 'Hannah']
The second element: Lexie
['Dan', 'Billy', 'Hannah']


##### .remove()

In [192]:
# value to be removed , not index
# list_var.remove(value) -> will remove the FIRST instance of that value

print(names)

names.remove('Billy')

print(names)

['Dan', 'Billy', 'Hannah']
['Dan', 'Hannah']

In [193]:
random_list = ['hi', 'hello', 'hi', 'hello', 'goodbye', 'hello']

random_list.remove('hello')

print(random_list)

['hi', 'hi', 'hello', 'goodbye', 'hello']

##### del

In [196]:
# del list_var[index]
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully
    
print(names)

del names[1]

print(names)

['Dan', 'Hannah']
['Dan']

In [ ]:
# Can cause index errors if not careful (if index is out of range)

##### Concatenating Two Lists

In [198]:
# the plus operator (+) between two lists will append two lists together, not add up their values 

list_a = [1, 2, 3, 4]
list_b = [5, 6, 7, 8]

list_c = list_a + list_b

print(list_c)

[1, 2, 3, 4, 5, 6, 7, 8]

##### Lists can hold any datatype

In [ ]:
# lists can hold any dataype
# It is *recommended* to only store one datatype in a list

list_strings = ['a', 'b', 'c']
list_ints = [1, 2, 3]
list_floats = [1.34, 5.23, 1.23]
list_bools = [True, True, False]
list_all =['a', 1, 1.23, False]

##### Lists Within Lists

In [199]:
# Lists are able to hold any type of element, including OTHER lists themsevles
# they can also go as deep as you want, having many lists nested inside of each other

list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

print(list_of_lists)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [200]:
for element in list_of_lists:
        print(type(element), element)

<class 'list'> [1, 2, 3]
<class 'list'> [4, 5, 6]
<class 'list'> [7, 8, 9]

In [203]:
print(list_of_lists[2][0])

7

### For Loops

In [204]:
# for <keyword> in <iterable>:
#     <statement>

nums = [5, 10, 15, 20, 25, 30]

print('Begin loop...')

for num in nums:
    print(num)
    
print('End loop...')

Begin loop...
5
10
15
20
25
30
End loop...

In [208]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

for c in colors:
    print(f"My favorite color is {c}")

My favorite color is red
My favorite color is orange
My favorite color is yellow
My favorite color is green
My favorite color is blue
My favorite color is indigo
My favorite color is violet

In [209]:
# Indentation Matters!
# Anything indented under the for loop is part of the loop

for c in colors:
    print(f"My favorite color is {c}")
    print("HELLO")
    
print('The End')

My favorite color is red
HELLO
My favorite color is orange
HELLO
My favorite color is yellow
HELLO
My favorite color is green
HELLO
My favorite color is blue
HELLO
My favorite color is indigo
HELLO
My favorite color is violet
HELLO
The End

In [210]:
for color in colors:
    if color == 'red':
        print(f"I hate the color {color}")
    else:
        print(f"I love the color {color}")

I hate the color red
I love the color orange
I love the color yellow
I love the color green
I love the color blue
I love the color indigo
I love the color violet

In [211]:
# Loops can be for any element that is iterable. Strings are iterable

my_string = "Hello how are you doing?"

for char in my_string:
    print(char)

H
e
l
l
o

h
o
w

a
r
e

y
o
u

d
o
i
n
g
?

##### Continue Statement

In [212]:
list_to_use = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [213]:
# will continue to next iteration
# skip all code after it in the code block and go to the next item in the iterable


for number in list_to_use:
    if number == 50:
        continue # Don't do anyhing more in this Loop, go to the next element in the iterable 
    print(number)
    print(number/10)
    print(f"The value of the element is {number}")

10
1.0
The value of the element is 10
20
2.0
The value of the element is 20
30
3.0
The value of the element is 30
40
4.0
The value of the element is 40
60
6.0
The value of the element is 60
70
7.0
The value of the element is 70
80
8.0
The value of the element is 80
90
9.0
The value of the element is 90
100
10.0
The value of the element is 100

##### Break Statement

In [216]:
# will break out of current loop

for number in list_to_use:
    if number == 50:
        break # End the Loop completely
    print(number)
    print(number/10)
    print(f"The value of the element is {number}")

print('The loop has finished...')

10
1.0
The value of the element is 10
20
2.0
The value of the element is 20
30
3.0
The value of the element is 30
40
4.0
The value of the element is 40
The loop has finished...

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [217]:
for number in list_to_use:
    if number == 50:
        # implement in the future
         pass # aka Do absolutely nothing, just hold the empty block
    print(number)
    print(number/10)
    print(f"The value of the element is {number}")

print('The loop has finished...')

10
1.0
The value of the element is 10
20
2.0
The value of the element is 20
30
3.0
The value of the element is 30
40
4.0
The value of the element is 40
The loop has finished...

In [ ]:
def solution():
    pass 
# defines the solution exists, just to hold the place of the empty code block, before having the actual

##### Nested/Double For Loops

In [218]:
# stacked

a_list = [1, 2, 3, 4]

for num1 in a_list:
    print(num1)
    
for num2 in a_list:
    print(num2)

1
2
1
2

In [220]:
# nested

# want to avoid nest lists because it will cause time inefficiency 

for num1 in a_list:
    for num2 in a_list:
        print(num1, num2)

1 1
1 2
2 1
2 2

### While Loops

In [221]:
x = 0

while x < 10:
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
# while <conditional>:
#     <statement to run while condition is true>

from random import randint

In [227]:
random_number = randint(1,10)
print(f"The starting random number: {random_number}")

while random_number !=5:
    print(random_number)
    randon_number = randint(1,10)
    
print('The final result:', random_number)

NameError: name 'randint' is not defined

##### Looping 'While True'

In [229]:
# this will continue to run forever if you do not have some sort of break

while True:
    ask = input('What would you like to do?')
    if ask == 'quit':
        break
    elif ask == 'look left':
        print('Looking to the left')
    else:
        print('You should have looked left!')

What would you like to do?look left
Looking to the left
What would you like to do?look left
Looking to the left
What would you like to do?quit

### Built-In Functions

##### input()

In [231]:
# input(question) => ALWAYS RETURNS A STRING

x = input('Enter something: ')
print(x)

Enter something: Lexie
Lexie

In [235]:
siblings = input('How many siblings do you have?')

print(siblings, type(siblings))

How many siblings do you have?801
801 <class 'str'>

##### range()

In [236]:
#Start, Stop, Step 

# More memory efficient than 

help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [237]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [238]:
for y in range(10, 20):
    print(y)

10
11
12
13
14
15
16
17
18
19

In [239]:
for z in range(20, 50, 5):
    print(z)

20
25
30
35
40
45

##### len()

In [240]:
# check Length of variable

states = ['Illinois', 'Indiana', 'Iowa', 'Wisconsin', 'Minnesota']

print(len(states))

5

In [241]:
full_name = 'Alexandria Young'

print(len(full_name))

16

##### help()

In [ ]:
help(list)

##### isinstance()

In [242]:
# Check a variable to find out what Object family it belongs to
# isinstace(var, type)

# will return a true or false

age = '55'

isinstance(age, str)

True

In [243]:
isinstance(age, int)

False

##### Looping Through Lists

In [ ]:
# two ways to loop through a list, using range for index and in for values

# Loop with a for loop (By Index)

    
# Loop with a for loop (Using the 'in' keyword)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [303]:
# continue cubing numbers and print out cubed numbers until you get to 1000 (should be 11 lines)


# for y in range (0, 1000):
#     x**3 == y
#     if y < 1000:
#         print(y)

list=[]

for x in range (0, 1000):
    list.append(x**3)
    if x**3 >= 1000:
        break
    
    
print(list)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [325]:
# HINT::
# An else after an if runs if the if didnt
# An else after a for runs if the for didnt break

# Prime number - A number that is divisible by only 1 and itself
 

prime_list = []

for n in range(2, 101):
    if (n % 2) != 0:
        prime_list.append(n)
print(prime_list)

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [248]:
for i in range(10):
    print(i)
    if i == 80:
        print('I is 8!')
        break
else:
    print('Goodbye!')

0
1
2
3
4
5
6
7
8
9
Goodbye!

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [268]:
x = input('Enter your Age') 

y = int(x)

if y <= 17:
    print("Child")
elif y >= 18 and y <= 64:
    print("Adult")
else:
    print("Senior")

Enter your Age65
Senior